$sans_stack: 'Open Sans', 'Gill Sans MT', 'Gill Sans', Corbel, Arial, sans-serif;
$serif_stack: 'Georgia', serif;

$royal: #1b3089;
$monument: #1d717b;
$red: #de0c28;


/*$main-page-bg: transparent url("/assets/background_image.jpg") no-repeat 0 50%;*/
$main-page-bg: #CCCCCC;
$main-panel-bg-color:#FFFFFF;
$main-panel-text-color:#000000;

$nav-bar-bg-color: #000000;