<% set_meta_tags :description => "Find answers to your questions about Honolulu City Services." %>

<div class="modal-container span8">
  <div class="main-modal">
    <div class="main-modal-header"><h2>Welcome to Answers</h2></div>
    
    <p>
      Find answers to your questions about 18f.
    </p>

    <div class="ribbon-front">
      <div class="ribbon-wrapper">
        <form id="search" action="search" name="search" method="get">
          <label for="query">Search: </label>
          <input type="text" name="q" id="query" title='query'
            placeholder="Try driver license, jobs, or registration...">
          <input class="btn-search" id="home-search" type="submit" value="Submit"
            title="Submit">
        </form>
      </div>
    </div>

    <div class="popular">
      <div class="pop-heading">
        <h2>Most Popular Categories:</h2>
      </div>
      <div class="pop-categories">
        <%= render :partial => 'home/category', :collection => @popular_categories %>
      </div>
    </div>

  </div><!-- /main-modal -->
</div><!-- /modal-container -->
